.min-question{
    display: flex;
    align-items: center;
    background-color: var(--light-grey);
    border: 1px solid var(--focus-grey);
    width: 95%;
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem 0;
    border-radius: 25px;
    color: #000;
    position: relative;
    min-height: 90px;
}

.min-question-author{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    overflow: visible;
}

.min-question-author-img{
    background-color: rebeccapurple; 
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.min-question-author > span{
    font-weight: bolder;
    font-size: .8rem;
    display: none;
}
.min-question-text{
    display: flex;
    flex-direction: column;
    flex: 3;
}


.min-question-text p {
    max-width: 50ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.min-question-text h2{
    font-size: 1.3rem;
    width: 90%;
}

.min-question-status{
    font-weight: bolder;
    color: var(--green);
    text-align: right;
    position: absolute;
    top: 5px;
    right: 15px;
}

@media(min-width:900px){
    .min-question{
        width: 50%;
        height: fit-content;
        position: relative;
        z-index: 1;
        min-height: 110px;
    }
    .min-question:hover{
        border: 1px solid var(--dark-grey);

    }
    .min-question-author > img{
        width: 50%;
        height: auto;
    }
    .min-question-text{
        width: 100%;
    }
    .min-question-text p {
        height: 100%;
        max-width: 44ch;
    }
    .min-question-status{
        position: absolute;
        top: .5rem;
    }
}