.login{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--back-clr);
}
.login > canvas{
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 40vh;
}

.dev-place-logo {
    transform: scale(.88);
    position: relative;
    margin-top: 19vh;
    z-index: 2;
    mix-blend-mode: color-burn;
    max-width: 700px;

}
.dev-place-logo > svg{
    fill: var(--grey);
}

.dev-place-logo > svg:last-of-type{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
    fill: rgb(0, 0, 0);
    opacity: .2;
}
.login > span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: clamp(1.5rem, 20vw, 2.5rem);
    font-weight: bolder;
    color: #f2f2f2;
    position: absolute;
    transform: skewX(-15deg);
    top: 20vh;
    z-index: 10;
    right: 5%;
    letter-spacing: 1ch;
} 
form{
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10vh auto;
    gap: 2rem;
    max-width: 600px;
}
label{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: var(--dark-grey);
}
label > input{
    padding: 1rem;
    border-radius: 23px;
    background-color:var(--lighter);
    border: 3px solid var(--lighter);
    transition: border .5s ease-in-out;
    font-size: 1rem;
}
label > input:focus{
    border: 3px solid var(--focus-grey);
}
.login > form > label > span{
    margin-left: 15px;
    color: var(--dark-grey);
    transition: color .5s ease;

}
button{
    font-size: 1rem;
    color: var(--lighter);
    background-color: var(--action-blue);
    border: 2px solid var(--action-blue);
    padding: 1rem;
    border-radius: 25px;
    text-transform: capitalize;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 2rem;
    cursor: pointer;
    transition: border .5s ease-in-out;
    }
button:focus{
    border: 2px solid var(--focus-grey);
}
button[data-cancel]{
    background-color: red;
    border: 2px solid red;

}
button>a{
    text-decoration: none;
    color: inherit;
}
a{
    margin: 0 auto;
    text-decoration: none;
}
@media(min-width:600px){
    .login > span{
        top: 24vh;
    } 
}
@media(min-width:900px){
    .login > canvas{
        clip-path: polygon(0 0, 100% 0, 100% 45%, 0 100%);
        height: 80%;
        position: absolute;
    }
    .login > .dev-place-logo {
        width: 50%;
        margin-top: 8vh;
    }
    .login > span{
        top: 15vh;
        z-index: 10;
        left: 35%;
    } 
    .login > form{
        right: 7rem;
        top: 3rem;
        position: absolute; 
        width: 30%;      
        z-index: 100; 
    }
    .login > form > label > span{
        color: var(--lighter);
        position: relative;
        width: fit-content;
        height: fit-content;
        overflow: visible;
        margin-bottom: 1rem;
    }
    .login > form > label > span:before{
        content: "";
        position: absolute;
        width: 102%;
        height: 100%;
        top: -5%;
        bottom: 0;
        background-color: var(--dark-grey);
        padding: 5px;
        border-radius: 15px;
        left: -5%;
        z-index: -1;
        opacity: .3;
    }
}