*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
*:focus{
  outline: none;

}
:root{
  --lighter: #f2f2f2;
  --back-clr: #dee2e6;
  --grey : #858585;
  --focus-grey: #9e9e9e;
  --light-grey: #d1d1d1;
  --medium-grey: #bbbbbb;
  --dark-grey: #343a40;
  --action-blue: #0d6efd;
  --green : #198754;
  --damp-green : rgba(172, 174, 25, 0.405);
  --soft-pink  : rgba(210, 149, 222, 0.5);
}
html{
  background-color: var(--back-clr);
  scroll-behavior: smooth;
}
#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
border-radius: 25px;
}

.swal-cont{
  background-color: var(--light-grey) !important;
  border: 2px solid var(--medium-grey) !important;
}

.swal-action button {
  border-radius: 25px !important;
}
.swal-icon{
  color: rgb(221, 51, 51) !important;
  border:2px solid rgb(221, 51, 51) !important;
  overflow: visible !important;
}