*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
*:focus{
  outline: none;

}
:root{
  --lighter: #f2f2f2;
  --back-clr: #dee2e6;
  --grey : #858585;
  --focus-grey: #9e9e9e;
  --light-grey: #d1d1d1;
  --medium-grey: #bbbbbb;
  --dark-grey: #343a40;
  --action-blue: #0d6efd;
  --green : #198754;
  --damp-green : rgba(172, 174, 25, 0.405);
  --soft-pink  : rgba(210, 149, 222, 0.5);
}
html{
  background-color: var(--back-clr);
  scroll-behavior: smooth;
}
#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes appear{
  0%{
    transform: translateY(-25vh);
  }
  50%{
    transform: translateY(-14vh);
  }
  100%{
    transform: translateY(0vh);
  }
}

.new-post-button{
  position: fixed;
  z-index: 10000;
  width: fit-content;
  top: 25vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: appear .5s ease;
  cursor: pointer;
}