.answers-container{
    width: 80%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.answer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    border-bottom: 1px solid var(--grey);
    padding-bottom: 1rem;
}
.answer-data{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
